<template>
    <div class="allFilms">
      <Header />
        <!-- <div class="cards" v-for="(post, id) in posts" :key="id">
          <h1 class="title">{{ post.title }}</h1>
            <div class="for_images">
              <img class="images" :src="post.url" >
            </div>
          <p class="id">{{ post.id }}</p>
        </div> -->

        <!-- <div class="tab">
        <div class="buttons">
          <button
                  v-for="(item, id) in Object.entries(tabs)"
                  :key="id"
                  @click="viewContent = id"
          >
            {{ item }}
          </button>
        </div>

        <div class="contents"
             v-for="(item, id) in Object.entries(tabs)"
             :key="id"
             v-show="viewContent === id"
             >
          <div class="content" v-for="(con, index) in item" :key="index">
            <p class="content-title" v-html="con.title">
            </p>

            <p class="content-text" v-html="con.text">
            </p>
          </div>
        </div>
      </div> -->

      <div class="tabs">
        <div class="tab" v-for="(tabs, id) in tabs" :key="id">
           <div class="buttons">
              <button v-for="(button, index) in tabs.btn" :key="index" @click="viwe = index">
               {{ button.but }}
             </button>
            </div>
        

          <div class="content" v-for="(item, indexes) in posts" :key="indexes" v-show="indexes === viwe">
            <p v-html="item.title">
            </p>

            <p v-html="item.albumId">
            </p>
         </div>
        </div>
      </div>  
    </div>
</template>


<script>
import Header from "@/components/Header.vue"

export default {
  data(){
    return{
      tabs:[
          {
          btn:[
            {but: 1},
            {but: 2},
            {but: 3},
            {but: 4},
          ]
          }
      ],
      viwe: 0,
    }
  },
  created(){
    // this.$store.dispatch("post/getAll");
    this.$store.dispatch("post/getAll")

  },
  computed:{
    posts(){
      return this.$store.getters['post/getPosts']
    },
    },
  components:{
    Header
  }
}
</script>

<style scoped>
.list-group{
  padding-top: 90px;
  padding-bottom: 90px;
}

.cards{
  width: 70vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.images{
  width: 50%;
}
</style>
