<template>
    <div class="Home">
        <div class="all">
          <h1>
            Welcome to KinoPoisk Hd.
          </h1>
          <button @click="$router.push('/main')" >
            Go to main site
          </button>
          <p>
            Если что-то не работает, перезагрузите страницу.
          </p>
        </div>
        <router-view/>
    </div>
</template>

<script>
export default {
    
}
</script>

<style scoped>

</style>