<template>
    <div class="content">
        <div class="pages">
            <div class="image_description">
                <img src="@/assets/afisha1.jpg">
            </div>
            <div class="description">
                <h3>
                    "Мир, Дружба, Жвачка"
                </h3>
                <p>
                    Сериал о юношеской любви, семейных ценностях, России в преддверии осени 1993-го
                    и возможности выбора, кем стать и по какому пути идти дальше… В центре сюжета –
                    история о простом пареньке Саньке Рябинине. Он верен друзьям, дорожит семьей и
                    обладает обостренным чувством справедливости. Знакомство с соседской девчонкой
                    Женей меняет его жизнь и впутывает в череду опасных событий, в финале которых
                    герой поймет, что ничего не будет прежним ни для него, ни для семьи, ни для всей
                    России…
                </p>
            </div>
        </div>
    </div>
</template>

<style scoped>
    .pages{
        width: 50vw;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
    }

    .pages p{
        text-align: justify;
    }

    .content{
        color: white;
    }

</style>