<template>
    <div class="header">
        <div class="left_menu">
                <h1 @click="$router.push('/main')">
                    KinoPoisk
                </h1>
        </div>

        <div class="right_menu">
            <button class="routers" @click="$router.push('/')">
                Go to main page
            </button>
            <button @click="$router.push('/allfilms')">
                Check all films
            </button>
        </div>
    </div>
</template>

<script>
export default {
}
</script>

<style scoped>
    .header{
        display: flex;
        height: 7vw;
        align-items: center;
        justify-content: space-between;
        padding: 0 2vw 0 2vw ;
    }

    .left_menu h1{
        color: white;
        cursor: pointer;
    }
</style>