<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
import Home from "@/views/Home.vue"


export default {
  components:{
    Home
  },
  methods:{
  }
}
</script> 

<style>
body{
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
}

.none{
  display: none;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#app button{ 
  width: 16vw;
  height: 4vw;
  font-size: 1.5vw;
  background-color: rgb(255, 228, 73);
  border-radius: 0.5vw;
}

.all h1{
  color: white
}

</style>
